@using TravelTripProje.Models.Sınıflar
@model List<Hakkimizda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
    string text;
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <!--<img src="~/Web/images/about_banner.jpg" alt="" />-->
            @foreach (var x in Model)
            {

                {
                    x.Aciklama = x.Aciklama.Replace("\r\n", "<br/>").ToString();
                    // text ile ilgili işlemler burada yapılır
                    // ancak bu kısım HTML sayfasında görünmez
                }
                <img src="@x.FotoUrl" alt="" />
                <p>@Html.Raw(x.Aciklama.Replace("<br>", "<br/>"))</p>
            }


        </div>
    </div>
</div>

