
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @*<title>Admin Yönetim Paneli</title>*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:16%">
        <h3 class="w3-bar-item">Menüler</h3>
        <a href="/Admin/Index" class="w3-bar-item w3-button">Bloglar</a>
        <a href="/Admin/AdminListesi" class="w3-bar-item w3-button">Admin Sifre</a>
        <a href="/Admin/YorumlarListesi" class="w3-bar-item w3-button">Yorumlar</a>
        <a href="/Admin/IletisimListesi" class="w3-bar-item w3-button">İletişim</a>
        <a href="/Admin/Hakkimizda" class="w3-bar-item w3-button">Hakkımızda</a>
        <a href="/Default/Index" class="w3-bar-item w3-button" target="_blank">Siteye Git</a>
        <a href="/GirisYap/LogOut" class="w3-bar-item w3-button">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:16%">

        <div class="w3-container w3-teal">
            <h3>Admin Yönetim Paneli</h3>
        </div>

        @*<img src="img_car.jpg" alt="Car" style="width:100%">*@

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
